body {
  font: 14px Arial, sans-serif;
  margin: 0px;
}
.header {
  padding: 10px 20px;
  background: #acb3b9;
}

.header h1 {
  font-size: large;
  margin: 0 auto;
  text-align: center;
}
.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
  background: #f2f2f2;
}
.nav,
.section {
  float: left;
  padding: 20px;
  min-height: 170px;
  box-sizing: border-box;
}
.nav {
  width: 16%;
  background: #d4d7dc;
}
.section {
  width: 84%;
}
.nav ul {
  list-style: none;
  line-height: 24px;
  padding: 0px;
}
.nav ul li a {
  color: #333;
}
.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.footer {
  background: #acb3b9;
  text-align: center;
  padding: 5px;
}

.comments {
  color: blue;
  text-align: center;
  padding: 5px;
}

.box {
  width: 10px;
  height: 10px;
  border: 1px solid black;
  padding: 2px;
  margin: 2px;
}

.checkbox {
  width: 18px;
  height: 18px;
  border: 1px;
  padding: 8px;
  margin: 0px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.legend-us {
  background-color: #000000ff;
}
.legend-canada {
  background-color: #aa0000;
}
.legend-male {
  background-color: #00daf7ff;
}
.legend-female {
  background-color: #f7ce00ff;
}
.legend-0514 {
  background-color: #f0f0f0ff;
}
.legend-1524 {
  background-color: #c8c8c8ff;
}
.legend-2534 {
  background-color: #a0a0a0ff;
}
.legend-3554 {
  background-color: #787878ff;
}
.legend-5574 {
  background-color: #505050ff;
}
.legend-7599 {
  background-color: #282828ff;
}
.legend-0514male {
  background-color: #00daf7ff;
}
.legend-1524male {
  background-color: #00bfd8ff;
}
.legend-2534male {
  background-color: #00a4b9ff;
}
.legend-3554male {
  background-color: #00889aff;
}
.legend-5574male {
  background-color: #006d7cff;
}
.legend-7599male {
  background-color: #00525dff;
}
.legend-0514female {
  background-color: #f7ce00ff;
}
.legend-1524female {
  background-color: #d8b400ff;
}
.legend-2534female {
  background-color: #b99b00ff;
}
.legend-3554female {
  background-color: #9a8100ff;
}
.legend-5574female {
  background-color: #7c6700ff;
}
.legend-7599female {
  background-color: #5d4d00ff;
}
